@charset "utf-8";
/* CSS Document */
body {
    position: relative;
    font-family: "Microsoft YaHei";
    font-size: 12px;
    color: #545454;
	background:#f5f5f5;
    margin: 0 auto;
    height: 100%;
    overflow-x: hidden;
}

.header {
    position: relative;
    height: 40px;
    width: 100%;
    background: #000;
    line-height: 40px;
    min-width: 1200px;
    margin: 0;
}
.header_content {
    position: relative;
    margin: 0 auto;
    width: 1200px;
}
.header_content .login {
    width: 70px;
    position: relative;
    float: right;
    font-size: 12px;
    text-indent: 30px;
	background: url(../Image/login_SMALL.png) left center no-repeat;
    vertical-align: middle;
    line-height: 25px;
    margin-top: 7px;
    margin-left: 10px;
	color:#FFFFFF;
	text-decoration:none;
}
.login_register_outer_content{
	position: absolute;
	top:50px;
	right:0px;
	width: 350px;
	height:350px;
	background:#000;
	border-radius:0.7em;
	opacity: 0;
	z-index:99;
	text-align:center;
}
.login_content {
	position: absolute;
	right:0px;
	width: 350px;
	height:350px;
	background:#000;
	border-radius:0.7em;
	opacity: 1;
	z-index:100;
	text-align:center;
}

.login_content_input{
	margin-top: 30px;
	padding-left:10px;
	width:280px;
	line-height:50px;
	font-size:15px;
	color:#464445;
	border-radius:0.6em;
	border: rgba(153,153,153,0.8) solid 2px;
}
.login_content_submit{
	margin-top: 30px;
	width:300px;
	height:50px;
	font-family: "Microsoft YaHei";
	border-radius:0.7em;
}
.login_content_submit:hover{
	background:#FFFFFF;
}

.user_content {
	position: absolute;
	top:50px;
	right:0px;
	width: 350px;
	height:350px;
	background:#000;
	border-radius:0.7em;
	opacity: 0;
	z-index:100;
	text-align:center;
}
.user_content .user_basicInfo{
	width:350px;
	height:100px;
	background:#8A8A8A;
}
.user_content .user_image{
	position:absolute;
	width:70px;
	height:70px;
	left:10px;
	top:10px;
	background:#A22123;
}
.user_content .user_info{
	position:absolute;
	width:250px;
	height:80px;
	left:90px;
	top:10px;
	background:#A22123;
}
.user_info ul{
	position:absolute;
	top:-10px;
	left:-30px;
	list-style:none;
}
.user_info ul li{
	
	color:#FFFFFF;
	text-decoration:none;
}
.user_content .user_bookInfo{
}
.logout_button{
	position:absolute;
	left:0px;
	bottom:0px;
	width:350px;
	height:30px;
	background:#490001;
	color:#FFFFFF;
	border: rgba(153,153,153,0.8) solid 2px;
}
.logout_button:hover{
	background:#870103;
}

.OtherButton {
	margin: 45px 20px 10px auto;
	width: 220px;
	height: 25px;
	font-size: 12px;
	font-family: "Microsoft YaHei";
	font-weight: 100;
	color: #06F;
}
.OtherButton a{
	text-decoration:none;
	color:#FFF;
}
.OtherButton a:hover{
	text-decoration:none;
	color:#AFAFAF;
}
.dotted{
	color:#FFF;
}

.register_content{
	position: absolute;
	right:0px;
	padding-top:30px;
	width: 350px;
	height:350px;
	background:#000;
	border-radius:0.7em;
	opacity: 0;
	z-index:101;
	text-align:center;
}
.register_content_input{
	margin-top: 25px;
	padding-left:10px;
	width:280px;
	line-height:40px;
	font-size:15px;
	color:#464445;
	border-radius:0.6em;
	border: rgba(153,153,153,0.8) solid 2px;
}
.register_content_submit{
	margin-top: 25px;
	width:300px;
	height:40px;
	font-family: "Microsoft YaHei";
	border-radius:0.7em;
}



.intro_content {
    width: 1200px;
    height: 116px;
    margin: 0 auto;
    position: relative;
}
.search_content {
    width: 100%;
    margin: 0 auto;
    height: 269px;
    position: relative;
    text-align: center;
    min-width: 1200px;
}
.search_content .search_bg {
    width: 100%;
    height: 266px;
}
.search_content .search_field {
    position: relative;
    width: 900px;
    height: 120px;
    margin: -195px auto 0;
	background: url(../Image/search_field_bg.png) center no-repeat;
	z-index:2;
}
.search_field .search_condition {
    position: absolute;
    width: 800px;
    height: 30px;
}
.search_condition .search_type {
    width: 445px;
    height: 30px;
    position: relative;
    float: left;
}
.search_type li {
    color: #fff;
    float: left;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    padding: 5px 15px;
    margin: 0px 5px;
	list-style:none;
}
.search_type li.curr {
    background: #0053a4;
    border-radius: 5px;
}
.search_field .search_text {
    margin: 50px auto 50px 42px;
    position: absolute;
    width: 816px;
    height: 60px;
    left: 0px;
    background: url(../Image/search_keyword_bg.png) center no-repeat;
}
.search_field .search_input {
    width: 660px;
    height: 35px;
    margin-top: 10px;
    float: left;
    margin-left: 15px;
    font-size: 14px;
    border-style: none;
}
.search_text a{
	text-decoration:none;
}
.search_button{
    display: block;
    width: 105px;
    line-height: 60px;
    text-align: right;
    float: right;
    position: relative;
    color: #fff;
    font-size: 18px;
    margin-right: 5px;
    padding-right: 20px;
}
.search_button1{
    display: block;
    width: 125px;
    height: 50px;
    text-align: right;
    float: right;
    position: relative;
    color: #fff;
    font-size: 18px;
	margin-top:5px;
    margin-right: 5px;
    padding-right: 20px;
	opacity:0;
	cursor:pointer;
}

.search_button_text{
	position:absolute;
	right:20px;
	top:16px;
	text-decoration:none;
	color:#FFFFFF;
	font-size:20px;
}

.nav_content_div {
    display: block;
    width: 100%;
    height: 530px;
    background-color: #f5f5f5;
    position: relative;
}
.nav_content_div .nav_content {
    width: 1200px;
    position: relative;
    margin: 0 auto;
    /* height: 500px; */
    padding-top: 30px;
}
.nav_content_left {
    width: 590px;
    height: 440px;
    position: relative;
    float: left;
    margin-bottom: 25px;
    /* margin-top: 50px; */
}
.nav_content_right {
    width: 590px;
    height: 440px;
    position: relative;
    float: right;
    margin-bottom: 25px;
    /* margin-top: 50px; */
}
.nav_content_left_content {
    margin-top: 10px;
    height: 380px;
    width: 590px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}
.manager_div {
    width: 100%;
    height: 100px;
    position: relative;
    min-width: 1200px;
    background-color: #323232;
}
.manager {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}
.manager a {
    display: block;
    margin: 40px 0 0 50px;
    float: left;
    text-indent: 50px;
	text-decoration:none;
    font-size: 14px;
    color: #545454;
    height: 24px;
}
.manager_div_school {
	background:url(../Image/schoolmain.png) left center no-repeat;
}
.manager_div_studio{
	background:url(../Image/gzemail.png) left center no-repeat;
}
.manager_div_manage{
	background:url(../Image/config.png)  left center no-repeat;
}

.foot {
    height: 50px;
    background: #0a0a0a;
    min-width: 1200px;
    width: 100%;
    position: relative;
}

.cha-vers{
	color:#726E6E;
	text-decoration:none;
	-moz-user-select:none;/*火狐*/

	-webkit-user-select:none;/*webkit浏览器*/
	-ms-user-select:none;/*IE10*/
	-khtml-user-select:none;/*早期浏览器*/
	user-select:none;
}
.cha-vers:hover{
	color:#FFFFFF;
	cursor:pointer;
}